{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Clarity for Yelp{% endblock %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>

{% endblock %}
{% block body %}
    <div id="header">
        <div id="banner">
            <a id="home_link" href="/">
            <div id="banner_logo">

                    <span class="ylp">ylp</span><span class="lines">lines</span>

            </div>
                   </a>
            <div id="banner_menu">
                <a href="/about/">ABOUT</a>
            </div>
        </div>
    </div>

    <div id="wrapper">

        <div id="content-wrapper">
            <div id="content">
                <div id="content_hero">
                    <div id="content_hero_title">
                        <span id="content_title_subtitle">C L A R I T Y &nbsp;&nbsp; F O R  &nbsp;&nbsp; Y E L P</span>
                        <br>
                        <span id="content_title_title">
                            <span class="ylp">ylp</span><span class="lines">lines</span>
                        </span>
                        <br>
                        </div>
                    <br>
                    <span id="content_hero_amuse">How has a business performed over time?</span>
                </div>
                <div id="query_form">

                    <div id="form_input_id" class="form_input">
                        <input type="text" id="id_query_label" class="form_label" value="Find" disabled/>
                        {{ form.query|add_class:'form_value'|attr:"placeholder:pho, tacos, Lou's,..." }}

                        <input type="text" id="id_location_label" class="form_label" value="Near" disabled/>
                        {{ form.location|add_class:'form_value'|attr:'placeholder:San Francisco'}}

                        <button id="submit_button" type="button">
                            <img id="submit_button_image" src="{% static "main/images/search.svg" %}"  width="20" height="20" />
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <div id="search_results_container">
            {% include "main/search_results_snippet.html" %}
        </div>



        <div id="footer">
            <div id="footer_content">
                <span id="footer_content_text">Copyright &copy; 2016 - Jeff Lee</span>
            </div>
            <div id="version">
                <span id="version_text">Version: 0.1.0</span>
            </div>
        </div>
    </div>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
   <script language="javascript">
      /*
         Before our JavaScript can be imported, the following JavaScript
         variables need to be set from Django variables. While these
         values could be hard-coded into the JavaScript, this allows
         them to be centrally located.
      */
      //From color_liker.views.MIN_SEARCH_CHARS
      //var MIN_SEARCH_CHARS = {# MIN_SEARCH_CHARS #};

      //The url to submit the search form. From color_liker.urls
      var SEARCH_URL = "{% url 'main:search' %}";
      var RETRIEVE_YLP_URL = "{% url 'main:retrieve_ylp' %}"
      var ENQUEUE_FETCH_URL = "{% url 'main:enqueue_fetch' %}"
      var CHECK_FETCH_STATE_URL = "{% url 'main:check_fetch_state' %}"
      var GIF_LOADER_IMG = "{% static "main/images/ajax-loader.gif" %}";
      var SEARCH_IMG = "{% static "main/images/search.svg" %}";
      var HEART_IMG = "{% static "main/images/heart.svg" %}";
      var business_count = {{ businesses|length }};
      //var skip_hero = {#  skip_hero #}
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
    <script src="{% static 'main/jQueryRotate.js' %}"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="{% static 'main/script.js' %}"></script>


{% endblock %}
