{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Clarity for Yelp{% endblock %}

{% block body %}
    <p>
        Version: 0.0.1
    </p>
    <div>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <!-- <form action="{# url 'main:search_businesses' #}" method="get"> -->
        <form method="get">
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </div>

{% endblock %}
